html,
body {
  height:100%;
}
.wrap {
  min-height:100%;
  height:auto;
  margin:0 auto -60px;
  padding:0 0 60px;
}
.wrap > .container {
  padding:70px 15px 20px;
}
.footer {
  height:60px;
  background-color:#f5f5f5;
  border-top:1px solid #ddd;
  padding-top:20px;
}
.jumbotron {
  text-align:center;
  background-color:transparent;
}
.jumbotron .btn {
  font-size:21px;
  padding:14px 24px;
}
.not-set {
  color:#c55;
  font-style:italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position:relative;
  top:1px;
  display:inline-block;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:normal;
  line-height:1;
  padding-left:5px;
}
a.asc:after {
  content:/*"\e113"*/ "\e151";
}
a.desc:after {
  content:/*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content:"\e153";
}
.sort-numerical a.desc:after {
  content:"\e154";
}
.sort-ordinal a.asc:after {
  content:"\e155";
}
.sort-ordinal a.desc:after {
  content:"\e156";
}
.grid-view th {
  white-space:nowrap;
}
.hint-block {
  display:block;
  margin-top:5px;
  color:#999;
}
.error-summary {
  color:#a94442;
  background:#fdf7f7;
  border-left:3px solid #eed3d7;
  padding:10px 20px;
  margin:0 0 15px 0;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding:15px;
  border:none;
}
@media (max-width:767px) {
  .nav li > form > button.logout {
    display:block;
    text-align:left;
    width:100%;
    padding:10px 15px;
  }
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration:none;
}
.nav > li > form > button.logout:focus {
  outline:none;
}
/* -----------------  Custom styles ----------------- */
.site-index {
  margin-top:-50px;
  clear:both;
}
#wallet {
  position:relative;
  display:block;
  width:400px;
  min-height:350px;
  margin-left:30px;
}
#wallet img {
  position:absolute;
  z-index:1;
  width:400px;
}
#wallet ul,
#vending ul {
  list-style:none;
}
#wallet ul {
  position:relative;
  z-index:10;
  padding-top:90px;
  padding-left:50px;
}
#wallet ul li {
  margin-top:20px;
}
#vending {
  position:relative;
  display:block;
  float:right;
  width:500px;
  min-height:700px;
}
#vending img{
  position:absolute;
  z-index:1;
  width:500px;
}
#vending div {
  position:absolute;
  display:block;
  z-index:10;
}
#vending div#vending_products {
  top:40px;
}
#vending div#vending_products li {
  margin-top:40px;
  margin-left:20px;
}
#vending div#vending_money {
  top:450px;
  left:30px;
}
#vending div#vending_money li {
  margin-top:25px
}
#vending div#vending_deposit {
  top:455px;
  left:260px;
}
#vending_deposit > p {
  width:100px;
  background:#ffffff;
  border:1px solid #ffffff;
  border-radius:5px;
}
#vending_deposit #vending_deposit_value {
  text-align:right;
}
#reset-button {
  position:relative;
  
}
#reset-button a img {
  width:300px;
  margin-top:80px;
  margin-left:80px;
}
